{% extends "base.html" %}
{% block title %} Contacts {% endblock %}
{% block container %}
    <h1> Здесь вы можете записаться в группу отправив сообщение </h1>
    <form method="post">
        <select size="3" name="user_type">
            <option value="sportsman">Спортсмен</option>
            <option value="trainer">Тренер</option>
        </select>
        <input type="text" name="first_name" placeholder="Имя">
        <input type="text" name="second_name" placeholder="Фамилия">
        <input type="text" name="age" placeholder="Возраст">
        <input type="text" name="email" placeholder="email">
        <input type="text" name="phone" placeholder="Номер телефона">
        <button type="submit">Отправить</button>
        <button type="reset">Очистить</button>
    </form>
{% endblock %}
